	      <header>
            <a class="mobile" href="">&#9776;</a>
            <nav class="main_nav">
              <ul id="nav">
                <li><a href="/"><div id="logo"></div></a></li>
                <li><a href="#/home">HOME</a></li>
                <li><a href="#/EVENTS">EVENTS</a></li>
                <li><a href="#/watch">WATCH</a></li>
                <li><a href="#/listen">LISTEN</a></li>
             </ul>
              <div style="clear:both;"></div>
            </nav>
        </header>

	<div class="sheet__dashboard">
		    				<!-- <h1>dead jit Perp</h1> -->

    </div>
	<div class="bs">
				    				<h1> dead jit Perp </h1>

				<!-- <h1>dead jit Perp</h1> -->
			<video controls autoplay loop>
  			<source src="assets/vids/vampire_bitch.mp4" type="video/mp4">
  							<h1>dead jit Perp</h1>

  		<!-- <source src="movie.ogg" type="video/ogg"> -->
  		<!-- Your browser does not support the video tag. -->
		</video>
		<!-- <h1>dead jit Perp</h1> -->

	</div>
</div>
		<video controls autoplay loop>
  			<source src="assets/vids/vampire_bitch.mp4" type="video/mp4">
  		<!-- <source src="movie.ogg" type="video/ogg"> -->
  		<!-- Your browser does not support the video tag. -->
		</video>
	<div class="sheet__mainInfo">
	<!-- 	<div class="mainInfoImage">
				
		</div> -->
	<!-- 	<div class="mainInfoText">
			 <p>In a short amount of time Kevin has Became one of the most sought after real estate professionals in the bay area. He brings a wealth of knowledge and professional representation to all his discerning clients. Local residents and sophistacted sellers and buyers rely on his expertise to help them navigate the oftem complicated Bay area real estate market.</p>	
		</div> -->
	</div>