@import  'breakpoint';
@import  'sheets';
@import  'nav';

$link-vertical-padding: 20px;      /*Controls Menu top & bottom padding*/
$link-horizontal-padding: 25px;
$link-color: rgba(0,0,0,.9);;
$logo-width: 125;
$logo-height: 120;

$menu-background: #353535;        /*Control Menu Color Scheme*/
  @font-face {
    font-family: WISHFULWAVES;
    src: url(WISHFULWAVES.ttf); 
  }
 html, body {
	margin: 0px;
	padding: 0px;
// overflow-x: hidden;
  // width: 100%;
  height: 100%;
  overflow-y: scroll;
  // background-color: rgba(12, 4, 21, 0.7);
  // background-color: rgba(96,66,126, 0.7);
}
h1 {
  display: inline-block; 
position: relative; 
padding: 0 .2em; 
white-space: nowrap; 
color: red;
}

h1 div {
position: absolute; 
top: 0; left: 0; 
padding: inherit; 
font: inherit; 
white-space: inherit; 
background: black; 
animation-name: bravo; 
animation-duration: 1000ms; 
animation-iteration-count: infinite; 
animation-direction: alternate; 
animation-timing-function: ease-in-out; 
    font-family: WISHFULWAVES;
font-size: 115px;
width: 500px;
text-align: center;
display: table-cell;
vertical-align: middle;
             background-color: rgba(0,0,0,.8);
}

@keyframes bravo {
  from {top: 0px; }
  to {top: 10px; }
}

video {
 //    position: relative;
 //    top: 0px;
 //    left: 0px;
 //  height: 70vh;
 //  width: 100%;
 // // position: fixed;
 //   // top: 50%; left: 50%;
 //  z-index: -1;
 //  // min-width: 100%;
 //  // min-height: 100%;
 //  // width: 100%;
 //  // width: auto;
 //  // height: auto;
 //  // height: 100vh;
 //  // transform: translate(-50%, -50%);
 //  display: block;
  //  margin: 0;
  // padding: 0;
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}
Controls {
  z-index: 3;
}
.vidContainer {
  margin-top: 75px;
	// height: 100%;
	// width: 100%;
 	// 	video {
  //   background-color: black;
		// width: 100vw;
  //   height: 100vh;
  //   display: block;
		// }
}
footer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'K2D', sans-serif;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.mainInfoImage {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
     // min-height: 60vh;
     // height: 400px;
    background-image: url("/assets/pics/bw_darkwoods.png");
}
.bs {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
font-color: red;
}
.fulljit {
  width: 830px;
font-color: red;
  letter-spacing: 6px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
background-color: purple;
}
#logo {
      background-image: url("/assets/pics/NEWWOADIE.png");
 background-repeat: no-repeat;
  background-position: center center;
   margin: 0 auto;
  background-size: cover;
  width:$logo-width * 1px;
  height:$logo-height * 1px;
  padding: 0;
  background-color:#7f8c8d;
    @include breakpoint(715) {
    width: 80px;
    height:50px;
  }
}